{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5QK9T96');</script>
<!-- End Google Tag Manager -->

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="所有" checked="checked" />所有
          </label>
          {{ range .Site.Data.portfolio.list }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{.type}}" />{{ .title }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .Site.Data.portfolio.item }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .projectType }}{{if eq $index 0}} {{else}},{{end}}&quot;{{.type}}&quot;{{ end }}]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{.image | absURL }}" rel="lightbox" title="my caption">放大</a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QK9T96"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <!-- clients -->
  <!-- <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">My Clients</h2>
        </div>
      </div>
      {{ partial "client-slider.html" . }}
    </div>
  </section> -->
  <!-- /clients -->

{{ end }}
