<!-- Work Process -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <!-- <h2 class="section-title">服務流程</h2> -->
        <p class="font-quarternary lead text-dark">若您對曾師傅的任何一項產品服務有興趣，歡迎馬上聯絡！<br><br></p>
      </div>
      {{ range .Site.Data.workProcess.step }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p-secondary>{{ .content | markdownify }}</p-secondary>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- ./Work Process -->
