{{ define "main" }}

  <!-- page title -->
  <section class="page-title-alt bg-primary position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white font-tertiary">{{ .Title }}</h1>
        </div>
      </div>
    </div>
    <!-- background shapes -->
    <img src="{{`images/portfolio/Photo_00022.jpg`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">
  </section>
  <!-- /page title -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5QK9T96');</script>
  <!-- End Google Tag Manager -->

  <!-- about -->
  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ .Content }}
        </div>
        <div class="col-md-4 text-center drag-lg-top">
          <div class="shadow-down mb-4">
            <img src="{{.Params.AuthorImage | absURL }}" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
          </div>
          <img src="{{.Params.AuthorSignature | absURL }}" alt="signature" class="img-fluid">
          <h4>{{ .Params.Author }}</h4>
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QK9T96"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- {{ partial "work-process.html" . }} -->

  <!-- {{ partial "team.html" . }} -->

{{ end }}
